{% load staticfiles %}
{% load keyvalue %}
<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Bootstrap table</title>
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="{% static '/css/style1.css' %}">
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

    <div class="navbar navbar-inverse">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static '/images/logo.png' %}" alt="Logo" >
                </a>
            </div>
            </div>

        </div>
    </div>


<section class="container">
        <div class="row">
            <div class="section-heading">
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for your booking. Your booking No. is {{book.id}}.</h3>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your order has been processed. Look forward to your visit.</h3>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You can search your booking informaion in our contact page.</h3>
            </div>
        </div>
           <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="search-panel">

          <div class="form-group">
              <a href="{% url 'index' %}" class="btn btnsearch">Back to Homepage</a><br>
          </div>
</section>
<table class="table table-striped">
   <thead>
      <tr>
         <th>Room type</th>
         <th>Booked rooms</th>
         <th>Check-in Day</th>
         <th>Check-out Day</th>

      </tr>
   </thead>

   <tbody>
{% for b_rt in booking_sum %}
{% with myrt=b_rt.rt_id %}    
      <tr>  
         <td>{{ b_rt.room_type }}</td>
         <td>{{book_dic|keyvalue:myrt}}</td>
         <td>{{inday}}</td>
         <td>{{outday}}</td>
      </tr>
{% endwith %}
{% endfor %}
   </tbody>


</table>


<table class="table table-striped">
<thead>
      <tr>
         <th>Item</th>
         <th>Number</th>
      </tr>
   </thead>

<tbody>
{% for rm in booking_res %}    
      <tr>
         <td>Booked Room Number.:</td>
         <td>{{ rm.r_id }}</td>
      </tr>

{% endfor %}
</table>

<table class="table table-striped">
 </tbody>

        <thead>
           <tr>
              <th>Total bill:</th>
              <th>{{total}}</th>
              <th>Currency:</th>
              <th>ADE</th>
              <th>{{book_dic.rt}}</th>
           </tr>
        </thead>
</table>







 
</body>
</html>